body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
main {
  background-image:url('/assets/img/caquipp.png');
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.logo-container {
  padding-left: 24px;
}

.navbar-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 32px;
  right: 1033px;
  z-index: 1;
  font-family: "Sacramento", cursive;
  color: dimgrey;
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
}

.tooltip {
  font-family: "Roboto", sans-serif;
  visibility: hidden;
  position: absolute;
  background-color: dimgrey;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 70px;
  right: 1170px;
}

.logo-container:hover .tooltip {
  visibility: visible;
}

.tooltip-footer {
  font-family: "Roboto", sans-serif;
  visibility: hidden;
  position: absolute;
  background-color: dimgrey;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 128px;
  right: 900px;
}

.skills:hover .tooltip {
  visibility: visible;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 40px;
}

.navbar-list li a {
  text-decoration: none;
  color: DimGray;
}

.navbar-list li:hover a {
  color: OrangeRed;
}

.navbar-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.breadcrumb-content {
  margin-bottom: 40px;
}

.breadcrumb-content p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-left: 24px;
  margin-top: 0;
  padding-top: 40px;
  color: #fff;
}

.breadcrumb-content #breadcrumb-item {
  color: orangered;
}

.card {
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  width: 18rem;
}

.card-title {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: bold;
}
.card-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.card-info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-link {
  font-family: "Roboto", sans-serif;
  color: #007bff;
  font-style: italic;
}

.card-img-top {
  max-width: 200px;
}

.footer-content-home {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px 0px;
  text-align: center;
}

.social-icons-home a {
  color: #fff;
  font-size: 32px;
  margin: 0 20px;
}

.social-icons-home a:hover {
  color: orangered;
}

.footer-text {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  margin-top: 20px;
}

.footer-text a {
  text-decoration: none;
  color: #fff;
}

.tools-icon a{
  text-decoration: none;
}
