body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#img-profile {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 220px;
  right: 790px;
  z-index: 1;
  width: 200px;
  border-radius: 50%;
}

#img-nieta {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1100px;
  right: -100px;
  z-index: 1;
  width: 400px;
  border-radius: 50%;
}

#home img {
  width: 100%;
  height: 1400px;
  margin-top: 4px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  padding-left: 24px;
}

.navbar-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 32px;
  right: 1060px;
  z-index: 1;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: dimgrey;
}

.custom-tooltip {
  position: absolute;
  bottom: -25px;
  left: 8%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 40px;
}

.navbar-list li a {
  text-decoration: none;
  color: DimGray;
}

.navbar-list li:hover a {
  color: OrangeRed;
}

.navbar-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.home-text {
  position: absolute;
  transform: translate(-50%, -50%);
  color: dimgrey;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

.home-text1 {
  top: 220px;
  right: -120px;
  font-size: 20px;
  max-width: 580px;
}

.bg-text-end {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1111px;
  right: 378px;
}

.texto-final {
  width: 600px;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 20px 20px 200px;
}

.footer-content-home {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}

.social-icons-home a {
  font-size: 40px;
  color: #fff;
  margin: 0 20px;
}

.social-icons-home a:hover {
  color: orangered;
}

.social-icons a {
  font-size: 40px;
  color: #000;
  margin: 0 20px;
}

.social-icons a:hover {
  color: orangered;
}

.footer-text {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  margin-top: 20px;
}

.footer-text a {
  text-decoration: none;
  color: #fff;
}

.tools-icon a {
  text-decoration: none;
}

@media (max-width: 767px) {
  header {
    width: 100vw;
  }
  #home img {
    max-width: auto;
  }
  #img-nieta {
    display: none;
  }
  .navbar {
    width: 100vw;
  }
  .home-text1 {
    top: 200px;
    right: -64px;
    font-size: 14px;
    max-width: 180px;
  }
  .bg-text-end {
    right: -15px;
  }
  .text-end {
    max-width: 180px;
  }
}

@media (min-width: 768px) and (max-width: 1270px) {
  .navbar-text {
    display: none;
  }
  #img-profile {
    display: none;
  }
  #img-nieta {
    display: none;
  }
  .home-text1 {
    top: 170px;
    right: -160px;
    font-size: 16px;
    max-width: 580px;
  }
}
