body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#img-profile {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 200px;
  right: 790px;
  z-index: 1;
  width: 200px;
  border-radius: 50%;
}

#img-nieta {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1100px;
  right: -100px;
  z-index: 1;
  width: 480px;
  border-radius: 50%;
}

#home img {
  width: 100%;
  height: 1400px;
  margin-top: 4px;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.logo-container {
  padding-left: 24px;
}

.navbar-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 32px;
  right: 1060px;
  z-index: 1;
  font-family: "Comfortaa", cursive;
  color: dimgrey;
  font-size: 16px;
  font-weight: 200;
}

.custom-tooltip {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: orangered;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: -25px;
  left: 8%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: none;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 40px;
}

.navbar-list li a {
  text-decoration: none;
  color: DimGray;
}

.navbar-list li:hover a {
  color: OrangeRed;
}

.navbar-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.home-text {
  position: absolute;
  transform: translate(-50%, -50%);
  color: dimgrey;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

.home-text1 {
  top: 120px;
  right: 610px;
  font-size: 24px;
}

.home-text2 {
  top: 160px;
  right: 226px;
  font-size: 24px;
  color: OrangeRed;
}

.home-text2:hover {
  color: dimgrey;
}

.home-text3 {
  top: 210px;
  right: 47px;
}

#special-font {
  font-family: "Vidaloka", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  color: orangered;
}

.home-text3 span:hover {
  color: orangeRed;
}

.home-text4 {
  top: 250px;
  right: -48px;
}

.home-text4 span:hover {
  color: orangeRed;
}

.home-text5 {
  top: 290px;
  right: -108px;
}

.home-text5 span:hover {
  color: OrangeRed;
}

.home-text6 {
  top: 330px;
  right: -181px;
}

.home-text6 span:hover {
  color: OrangeRed;
}

.home-text7 {
  font-family: "Sacramento", cursive;
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  top: 399px;
  right: 85px;
}

.home-text7 #pilar {
  font-size: 48px;
  color: orangered;
}

.home-text7 span:hover {
  color: OrangeRed;
}

.bg-text-end {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1172px;
  right: -300px;
}

.text-end {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  padding: 20px;
  width: 720px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-content-home {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons-home a {
  color: #fff;
  font-size: 40px;
  margin: 0 20px;
}

.social-icons-home a:hover {
  color: orangered;
}

.social-icons a {
  color: #000;
  font-size: 40px;
  margin: 0 20px;
}

.social-icons a:hover {
  color: orangered;
}

.footer-text {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  margin-top: 20px;
}

.footer-text a {
  text-decoration: none;
  color: #fff;
}

.tools-icon a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .home-text1 {
    font-size: 16px;
    top: 100px;
    right: 138px;
  }
  .home-text2 {
    font-size: 14px;
    top: 150px;
    right: -64px;
  }
  .home-text3 {
    font-size: 14px;
    top: 180px;
    right: -173px;
    color: transparent;
  }
  .home-text4 {
    font-size: 12px;
    top: 176px;
    right: -148px;
    color: transparent;
  }
  .home-text5 {
    font-size: 12px;
    top: 204px;
    right: -173px;
    color: transparent;
  }
  .home-text6 {
    font-size: 12px;
    top: 330px;
    right: -181px;
    color: transparent;
  }
  #img-profile {
    display: none;
  }
  #img-nieta {
    display: none;
  }
  .navbar-text {
    display: none;
  }
  .bg-text-end {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 1000px;
    right: -300px;
  }
  .text-end {
    font-size: 16px;
    padding: 2px;
    width: 220px;
  }
  .search-container {
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1270px) {
  .navbar-text {
    display: none;
  }
  #img-profile {
    display: none;
  }
  .home-text1 {
    font-size: 20px;
    top: 100px;
    right: 457px;
  }
  .home-text2 {
    font-size: 20px;
    top: 140px;
    right: 156px;
  }
  .home-text3 {
    font-size: 14px;
    top: 180px;
    right: -34px;
  }
  .home-text4 {
    font-size: 14px;
    top: 212px;
    right: -55px;
  }
  .home-text5 {
    font-size: 14px;
    top: 244px;
    right: -99px;
  }
  .home-text6 {
    font-size: 14px;
    top: 274px;
    right: -140px;
  }
  .bg-text-end {
    display: none;
  }
  .text-end {
    display: none;
  }
}

