body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.logo-container {
  padding-left: 24px;
}

.navbar-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 32px;
  right: 1060px;
  z-index: 1;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: dimgrey;
}

.custom-tooltip {
  position: absolute;
  bottom: 8px;
  left: 17%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 40px;
}

.navbar-list li a {
  text-decoration: none;
  color: DimGray;
}

.navbar-list li:hover a {
  color: OrangeRed;
}

.navbar-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.breadcrumb-content {
  margin: 40px;
  font-size: 12px;
}

.card {
  position: relative;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 100px;
  margin-left: 56px;
}

.card-title {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: bold;
}

.card-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.card-info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-link {
  font-family: "Roboto", sans-serif;
  color: #007bff;
  font-style: italic;
}

.card-img {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 35%;
  height: 212px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

.card-img1 {
  top: 340px;
  right: -64px;
}

.card-img2 {
  top: 624px;
  right: -64px;
}

.card-img3 {
  top: 912px;
  right: -64px;
}

.card-img4 {
  top: 1200px;
  right: -64px;
}

.footer-content-home {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 0px;
}

.social-icons-home a {
  font-size: 40px;
  color: #fff;
  margin: 0 20px;
}

.social-icons-home a:hover {
  color: orangered;
}

.footer-text {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  margin-top: 20px;
}

.footer-text a {
  text-decoration: none;
  color: #fff;
}

.tools-icon a {
  text-decoration: none;
}

main {
  padding-top: 80px;
}
.end-main {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.end-main img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.end-main .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(250, 250, 250, 0.2);
}

@media (max-width: 768px) {
  .img-works {
    display: none;
  }
  .card {
    max-width: 80%;
    margin-right: 0px;
    margin-left: 0px;
  }
}
